<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <title>analysis</title>
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
      <form action="/enlu/handle/analysis/" method="post">
  			
		  {% for field in form %}
		  <p>
		  	<label>{{ field.label_tag }} </label>
      	{{ field }}
         {{ field.errors }}
			</p>
    	{% endfor %} 
        
        <p class="submit"><input type="submit" name="analysis" value="开始分析"></p>
<hr/>
			<h2>参数说明：</h2>
  			<li>模型： 选择用rule-based(1)还是model-based(2)系统，默认为1</li>
  			<li>模型文件夹： 选择模型文件夹的路径，默认为../model</li>
  			<li>结果文件：选择输出的结果文件的路径，默认为result.txt</li>
  			<li>用户信息文件夹：用户信息（如通讯录等）所在文件夹，默认为空。</li>      
      </form>
    

</body>
</html>