<html>
<head><title>{{username}}'s workspaces</title>
<style type="text/css">
table{border:3 solid black; border-collapse:collapse}
table th, table td{border:2 solid black}
</style>

</head>
<body>
<h3>Message:</h3>
{% if file_list %}
    <table id = "files">
        <tr>
            <th>序号</th>
            <th>文件名</th>
            <th>上传者</th>
            <th>状态</th>
            <th>参数</th>
            <th>结果</th>
        </tr>
    {%for file in file_list %}
        <tr>
            <td>{{file.id}}</td>
            <td>{{file.filename}}</td>
            <td>{{file.user}}</td>
            <td>{{file.status}}</td>
            <td>{{file.parameters}}</td>
            <td>{{file.result_link}}</td>
        </tr>
    {% endfor%}
    </table>
    {% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="/handle?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="/handle?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %}
            <span class="page-current">
                第{{ page_obj.number }}页 ，共{{ page_obj.paginator.num_pages }}页。
            </span>
        </span>
    </div>
    {%endif%}
{% else %}
<p>No file_list !!!</p>
{% endif %}
</body>
</html>

